/********************
  CS498 MP1
  brett jurgens
 ********************/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header stuff */
header {
  margin: 0 auto;
  text-align: center;
  font-size:3em;
  position: fixed;
  height: 2.4em;
  width: 100%;
  z-index: 400;
  padding-top: .5em;
  top: 0;
  background-color: white;
}

#logo {
  z-index: 500;
  position: fixed;
  width: 200px;
  left: 50%;
  margin-left:-100px;
  background-color: white;
  color: #666;
}

/* List structure / notifications */
#list-top {
  border-radius: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  width: 610px;
  height: 1.8em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: fixed;
  top: 1.2em;
  left: 50%;
  margin-left: -306px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px -2px #ddd;
}
.back {
  display: none;
  font-size: 12px;
  position: relative;
  left: 40px;
  top: 38px;
  z-index: 500;
  background: transparent;
  text-align: left;
}

.back {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  
  border-right: 12px solid #aaa; 
  float: left;
}

.delete {
  display: none;
  font-size: 24px;
  position: relative;
  right: 37px;
  top: 28px;
  z-index: 500;
  background: transparent;
  text-align: right;
  float: right;
  color: #aaa;
}

#notifications {
  height: 1.5em;
  position: fixed;
  z-index: 500;
  top: 20px;
  right: 40px;
  font-size: 12px;
}
#listcontainer {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 1px 20px 0;
  width: 570px;
  margin: 9em auto 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  min-height: 50px;
}
#list {
  margin: 0.5em 0;
  list-style: none;
  padding: 0;
}
#list li {
  padding: 10px 0;
  color: #444;
  border-bottom: 1px solid #eee;
}
#list li.list-title {
  font-weight: 500;
  text-transform: capitalize;
}
#list li.list-title .export {
  text-transform: none;
}
#list li.list-title .listbuttons {
  font-weight: 300;
  /*text-transform: none;*/
  font-size: 12px;
}
#list li:last-child {
  border: 0;
}
#list a {
  color: #444;
  text-decoration: none;
}
#list .done a {
  color: #ccc;
}
#list .done .listbuttons a {
  color: #52D017;
}
#list a.deadline-passed {
  color: #c53d3d;
}
.listbuttons {
  display: inline;
  float: right;
}
.listbuttons .setdeadlinetext {
  font-size: 12px;
  margin-right: 5px;
}
.listbuttons > a{
  color: #999;
  text-decoration: none;
}
.listbuttons .spacer {
  width: 4px;
  display: inline-block;
}
.emptylist {
  color: #666 !important;
}

/* add item */
#add-item-container .add, #add-list-container .add {
  width: 400px;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
}

#add-item-container .add:focus, #add-list-container .add:focus{
  outline-color: #ffb966;

}

#add-item-container, #add-list-container {
  width: 400px;
  margin-left: -200px;
  position:fixed;
  left: 50%;
  z-index: 600;
  top: 5.5em;
}

#add-item-container {
  display: none;
}

/* modal */
.modal-backdrop {
  background-color: white;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 900;
  display: none;
  top: 0;
  left: 0;
}
.body-modal {
  overflow: hidden;
}
.modal {
  width: 320px;
  margin-left: -170px;
  position: absolute;
  padding: 15px 20px;
  top: 15%;
  left: 50%;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 999;
}
.item-name, .export-title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #666;
}
.deadline-title {
  font-size: 14px;
  display: inline;
}
.deadline-select {
  display: inline;
  margin-left: 5px;
}
.deadline-enter {
  float: right;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: -2px;
  background: linear-gradient(to bottom, #62c462, #51a351);
  color: white;
  border: 1px solid #62c462;
}

}