/********************
  CS498 MP1
  brett jurgens
 ********************/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header stuff */
header {
  margin: 0 auto;
  text-align: center;
  font-size:3em;
  position: fixed;
  height: 2.4em;
  width: 100%;
  z-index: 999;
  padding-top: .5em;
  top: 0;
  background-color: white;
}

#logo {
  z-index: 1000;
  position: fixed;
  width: 200px;
  left: 50%;
  margin-left:-100px;
  background-color: white;
  color: #666;
}

/* List structure / notifications */
#list-top {
  border-radius: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  width: 610px;
  height: 1.8em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: fixed;
  top: 1.2em;
  left: 50%;
  margin-left: -306px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px -2px #ddd;
}
.back {
  display: none;
  font-size: 12px;
  position: relative;
  left: 40px;
  top: 38px;
  z-index: 999999;
  background: transparent;
  text-align: left;
}

.back {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  
  border-right: 12px solid #aaa; 
  float: left;
}

.delete {
  display: none;
  font-size: 24px;
  position: relative;
  right: 37px;
  top: 28px;
  z-index: 999999;
  background: transparent;
  text-align: right;
  float: right;
  color: #aaa;
}

#notifications {
  height: 1.5em;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 40px;
  font-size: 12px;
}
#listcontainer {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 1px 20px 0;
  width: 570px;
  margin: 9em auto 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  min-height: 50px;
}
#list {
  margin: 0.5em 0;
  list-style: none;
  padding: 0;
}
#list li {
  padding: 10px 0;
  color: #444;
  border-bottom: 1px solid #eee;
}
#list li:last-child {
  border: 0;
}
#list a {
  color: #444;
  text-decoration: none;
}
#list .done {
  color: #ccc;
}
#list .done .listbuttons a {
  color: #52D017;
}
.listbuttons {
  display: inline;
  float: right;
}
.listbuttons > a{
  color: #999;
  text-decoration: none;
}
.listbuttons .spacer {
  width: 4px;
  display: inline-block;
}
.emptylist {
  color: #666 !important;
}

/* add item */
#add-item-container .add, #add-list-container .add {
  width: 400px;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
}

#add-item-container .add:focus, #add-list-container .add:focus{
  outline-color: #ffb966;

}

#add-item-container, #add-list-container {
  width: 400px;
  margin-left: -200px;
  position:fixed;
  left: 50%;
  z-index: 1000;
  top: 5.5em;
}

#add-item-container {
  display: none;
}